<header>
	<h1 class="col-sm-12">GitHub Stats</h1>
	<div md-content class="col-sm-12">
		<div class="input">
			<div class="searchBar">
				<md-autocomplete md-selected-item="selectedRepo"
					md-search-text-change="searchRepos()" md-search-text="searchText"
					md-selected-item-change="showIte(item)" md-items="item in repos"
					md-item-text="item.display" md-min-length="0"
					md-floating-label="Chose a GitHub repository to analysis"
					placeholder="Chose a GitHub repository to analysis"> 
					<md-item-template>
						<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
					</md-item-template>
					<md-not-found> No states matching "{{searchText}}"
				were found. </md-not-found>
				</md-autocomplete>
			</div><div class="input-group-addon" style="display: inline-block">
				<span class="glyphicon glyphicon-search"></span>
			</div>
		</div>
	</div>
</header>
<hr />